[submodule "mucom88"]
	path = mucom88
	url = https://github.com/BouKiCHi/mucom88.git
[submodule "NativePluginProject/mucom88"]
	path = NativePluginProject/mucom88
	url = https://github.com/BouKiCHi/mucom88.git
